*{
  padding :0;
  margin: 0;
  box-sizing:border-box;
  
}
.Dashboard {
  text-align: center;
}

.Dashboard-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Dashboard-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Dashboard-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Dashboard-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.personalInfo {
  margin :10px;
  border: 0px solid black;
  border-radius: 25px;
  background-color: rgb(3, 22, 35);
  text-align: center;
  width: 21%;
  height: 80.4vh;
  color: aliceblue;
  float:left;
  position: fixed;
  font-size: 0.01rem;


}
.achievements{
  margin :10px;
  border: 0px solid black;
  border-radius: 25px;
  background-color: rgb(3, 22, 35);
  text-align: center;
  width: 75%;
  height: 450px;
  color: aliceblue;
  float: right;
  max-height: max-content;



}
.Main{
  display: inline-block;
  width:100%;
  background-color: black;
  margin-top: 65px;
  height: 1000px;
  padding: 5px;
}
.Navbar{
  position: fixed;
  top:0;
  width: 100%;
  
}
.Info{
  margin-top: 40px;
}
.personContainer{
  border-radius: 100%;
  /* width: 150px; */
 
  

}
.person{
  margin-top: 1rem;
  border-radius: 100%;
  height: 160px;
  width: 160px;
  border: .25rem solid black;
}
.card{
  background-color: aliceblue;
  width: 85%;
  height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;

  
}
.cardText{
  color: black;
}
.cardTitle{
  color:black;
}
.cardImage{
  padding-top: 20px;
  width: 300px;
}
.list-group-flush{
  color: black;
}
